@charset "UTF-8";

.card {
	width: calc(100% - 20px);
	border: solid black 1px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.card > * {
	display: inline-block;
	width: 33%;
}

.card > div > form {
	display: inline-block;
}