@charset "UTF-8";

* {
	margin: 0;	
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

thead {
	color: #eeeeee;
	background-color: #111111;
	font-weight: bold;
}

tbody td {
	height: 40px;
}

tbody button {
	background: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

img {
	height: 20px;	
}

tbody tr:nth-child(odd) {
	background-color: #999999;
}

tbody tr:nth-child(even) {
	background-color: #dcdcdc;
}

table form {
	display: inline-block;
}

header {
	height: 60px;
	color: #fefefe;
	background-color: #222222;
	margin-bottom: 16px;
	vertical-align: center;
}

header > h1 {
	padding-left: 10px;
	line-height: 60px;
}

input[type="submit"], .ajouter {
	border-radius: 0px;
	border: none;
}

.ajouter {
	width: 100vw;
	height: 32px;
}

input[type="submit"] {
	height: 22px;
	padding: 0 15px;
}

label {
	display: inline-block;
	width: 180px;
	padding-left: 20px;
}

input[type="date"] {
	width: 150px;
}