<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <display-name>TPConnectedIn</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChoixServlet</display-name>
    <servlet-name>ChoixServlet</servlet-name>
    <servlet-class>controller.ChoixServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoixServlet</servlet-name>
    <url-pattern>/ChoixServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterContactServlet</display-name>
    <servlet-name>AjouterContactServlet</servlet-name>
    <servlet-class>controller.AjouterContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterContactServlet</servlet-name>
    <url-pattern>/AjouterContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerContactServlet</display-name>
    <servlet-name>SupprimerContactServlet</servlet-name>
    <servlet-class>controller.SupprimerContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerContactServlet</servlet-name>
    <url-pattern>/SupprimerContactServlet</url-pattern>
  </servlet-mapping>
</web-app>